.navcontainer{
    display: flex;
    justify-content: space-around;
    column-gap: 1100px;
    box-shadow: 2px 1px 3px 2px gray;
}
.logo{
    width:250px;
    margin-top: 10px;
}
.logout{
    margin-top: 20px;
    width:100px;
    height: 40px;
}