
  .loginFormContainer{
    position: relative;
    width:45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    width:200px;
}
  .emailfield{
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    font-size: 18px; 
    height: 80px;
  }
  .passwordfield{
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    font-size: 18px; 
    height: 80px;
  }
  .mainheading{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;

  }
  .subheading{
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
  }
  .content{
    font-size: 20px; 
    margin-top: 40px;

  }
  .sumbitButton{
    margin-top: 20px;
    width: 125px;
    height: 50px;
    font-size: 20px;
  }
  .error{
    color:red;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .register{
    font-size: 15px;
    margin-top: 10px;
  }
  .registerClick{
    color:blue;
    cursor: pointer;
  }
  .custom-snackbar{
    background-color: rgb(64, 188, 255);
  color: #fff; 
  }

  @media screen and (min-width:370px) and (max-width:450px) {

    .loginFormContainer{
      width:auto;
    }
    .loginForm{
      padding:10px;
    }
   .register{
    margin-top: 20px;
   }
    
  }
 


 