<div class="image">  
     <img  class ="coverpic"src="../../../assets/Login_cover_pic.jpg" alt="coverpic">
    <img class="coverpic1" src="../../../assets/Mask_group.png" alt="coverpic1">
    <img class="coverpic2" src="../../../assets/Group_5784.png" alt="coverpic2">
    <div class="coverContent">
        <p class="mainheading">Booking your meeting room is easy now!</p>
        <p class="sunheading">Try Kanini Workspace.</p>
    </div>
<!-- <img class="coverpic3" src="../../../assets/Group 5786.png" alt="coverpic3"> -->
</div>